[submodule "libs/jquery.ime"]
	path = libs/jquery.ime
	url = git@github.com:pravee-n/jquery.ime.git
[submodule "libs/jquery.uls"]
	path = libs/jquery.uls
	url = git@github.com:pravee-n/jquery.uls.git
